/* Estilos Gerais */
.work {
    text-align: center; /* Centraliza o texto no contêiner */
    padding: 0 1rem; /* Adiciona espaçamento lateral ao contêiner da seção */
}

.section__title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--title-color);
    margin-bottom: 0.5rem;
    position: relative;
    display: inline-block;
}

.section__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--subtitle-color);
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}

.work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
    gap: 1rem; /* Ajusta o espaço entre as colunas */
    align-items: start; /* Alinha os itens ao início das colunas */
    max-width: 800px; /* Define a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 0 1rem; /* Adiciona espaçamento lateral ao contêiner */
}

.work__item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.75rem;
    border-radius: 1rem;
    max-width: 381px;
    margin: 0 auto; /* Centraliza os itens dentro do contêiner */
}

.work__icon {
    font-size: 2rem; /* Tamanho do ícone */
    color: var(--title-color); /* Cor do ícone */
}

.work__content {
    text-align: left; /* Alinha o texto à esquerda */
}

.work__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--title-color);
}

.work__description {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color);
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .work__container {
        grid-template-columns: 1fr; /* Colunas em tela pequena */
        padding: 0 2rem; /* Adiciona padding lateral em telas médias */
    }

    .work__item {
        max-width: 90%; /* Ajusta a largura máxima dos itens */
        margin: 0 auto; /* Centraliza os itens dentro do contêiner */
    }
}

@media screen and (max-width: 576px) {
    .work__item {
        flex-direction: column;
        text-align: center;
        max-width: 100%; /* Ajusta a largura máxima dos itens */
    }

    .work__icon {
        margin-bottom: 1rem; /* Espaçamento entre o ícone e o título/descritivo */
    }
}
